<!DOCTYPE html>
{% extends "indexpage.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-lg-12">
         <div class="card">
           <div class="card-body">
           <div class="card-title">ADD DEPARTMENT</div>
           <hr>
            <form method="post" action="{% url 'deptsave' %}" enctype="multipart/form-data">
                {% csrf_token %}
           <div class="form-group">
            <label for="input-1">DEPARTMENT NAME</label>
            <input type="text" name="department" class="form-control" id="input-1" placeholder="Enter Department Name">
           </div>
           <div class="form-group">
            <label for="input-2">DESCRIPTION</label>
            <input type="text" name="description" class="form-control" id="input-2" placeholder="Enter Description">
           </div>
                <div class="form-group">
            <label for="input-3">IMAGE</label>
            <input type="file" name="image" class="form-control" id="input-3">
           </div>
           <div class="form-group">
            <button type="submit" class="btn btn-light px-5"><i class="icon-lock"></i> SUBMIT</button>
          </div>
          </form>
         </div>
         </div>
      </div>
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

    {% if messages %}
      {% for i in messages %}
           {% if i.tags == 'warning' %}
               <script>
                    swal('{{i}}','','warning');
               </script>
           {% elif i.tags == 'error' %}
               <script>
                    swal('{{i}}','','error');
               </script>
           {% else %}
               <script>
                    swal('{{i}}','','success');
               </script>
           {% endif %}
        {% endfor %}
    {% endif %}
</body>
</html>
{% endblock %}