<!DOCTYPE html>
{% extends "indexpage.html" %}
{% block content %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="col-lg-12">
         <div class="card">
           <div class="card-body">
           <div class="card-title">ADD DOCTOR</div>
           <hr>
            <form method="post" action="{% url 'doctorup' dataid=cat.id %}" enctype="multipart/form-data">
                {% csrf_token %}
           <div class="form-group">
            <label for="input-1">DOCTOR NAME</label>
            <input type="text" name="doctorname" value="{{cat.Name}}" class="form-control" id="input-1" placeholder="Enter Doctor's Name">
           </div>
           <div class="form-group">
            <label>DEPARTMENT</label>
            <select name="department" class="form-control">
                <option>{{cat.Department}}</option>
                {% for i in data %}
                <option>{{i.DeptName}}</option>
                {% endfor %}
            </select>
           </div>
                <div class="form-group">
            <label for="input-3">EXPERIENCE</label>
            <input value="{{cat.Experience}}" type="text" name="experience" class="form-control" id="input-3" placeholder="Enter Experience">
           </div>
                <div class="form-group">
            <label for="input-4">EDUCATION</label>
            <input type="text" value="{{cat.Education}}" name="education" class="form-control" id="input-4" placeholder="Enter Education Qualification">
           </div>
                <div class="form-group">
            <label for="input-5">REGISTRATION NO</label>
            <input type="text" value="{{cat.Registrations}}" name="registration" class="form-control" id="input-5" placeholder="Enter The Registration No.">
           </div>
                <div class="form-group">
            <label for="input-6">LANGUAGE</label>
            <input type="text" value="{{cat.Language}}" name="language" class="form-control" id="input-6" placeholder="Enter The Language">
           </div>
                <div class="form-group">
            <label for="input-7">ABOUT</label>
            <input type="text" name="about" value="{{cat.About}}" class="form-control" id="input-7" placeholder="Enter About Dr.">
           </div>
                <div class="form-group">
            <label>GENDER</label>
            <select name="gender" class="form-control">
                <option>{{cat.Gender}}</option>
                <option>MALE</option>=
                <option>FEMALE</option>
                <option>OTHER</option>
            </select>
           </div>
                 <div class="form-group">
            <label>TIMING</label>
            <select name="timing" class="form-control">
                <option>{{cat.Timing}}</option>
                <option>MORNING</option>
                <option>EVENING</option>
            </select>
           </div>
                <div class="form-group">
            <label for="input-10">IMAGE</label>
            <input type="file" name="image" class="form-control" id="input-10">
                    <img src="{{cat.Image.url}}" height="100px" width="100px">
           </div>
           <div class="form-group">
            <button type="submit" class="btn btn-light px-5"><i class="icon-lock"></i>SUBMIT</button>
          </div>
          </form>
         </div>
         </div>
      </div>

</body>
</html>
{% endblock %}

